@page "/Calendar"
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

    <table class="table">
        <tbody>
            @for (int i = 0; i < 42; i++)
            {
                DateTime date = DateTime.Today.AddDays(i);
                if (i % 7 == 0)
                {
                    @:</tr><tr> 
                }
                
                if (i == 0)
                {
                    <td>@date.Day Today</td>
                }
                else
                {
                    <td>@date.Day</td>
                }
                
            }
        </tbody>
    </table>
</body>


