@page "/Calendar"
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

    <table class="table">
        <tbody>
            @for (int i = 0; i < 42; i++)
            {
                DateTime date = DateTime.Today.AddDays(-14 + i);
                if (i % 7 == 0)
                {
                    @:</tr><tr> 
                }
                
                if (i == 14)
                {
                    <td style="border: 5px solid purple;"><pre>
                    Today
                    @date.Day
                    Num Changes: 0</pre></td>
                }
                else
                {
                    <td><pre>
                    @date.Day
                    Num Changes: 0</pre></td>
                }
                
            }
        </tbody>
    </table>
</body>


