<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tricorder</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Create Manual Change">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Manual Change
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Dashboards">
                <span class="oi oi-list-rich" aria-hidden="false"></span> Dashboards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Dataanalysis">
                <span class="oi oi-list-rich" aria-hidden="false"></span> Data Analysis 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Integrations">
                <span class="oi oi-list-rich" aria-hidden="false"></span> Integrations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="oi oi-list-rich" aria-hidden="false"></span> Settings
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
